<% include header.html %>

<div class="container">
    <div class="login-body">
        <div class="login-img">
            <a href="${weburl}/index.html">
                <img src="public/images/logo.jpg">
            </a>
        </div>
        <form class="pure-form login-form" method="post" action="$weburl/login.html">

            <fieldset>
                <a class="link" href="reg">免费注册test</a>
                <div class="title">登录deb</div>
                <div class="text-center" style="margin-bottom: 2em;">
                    <small>LOG IN NOW</small>
                </div>
                <div class="pure-control-group">
                    <div class="text-input">
                        <label>用户名dev</label>
                        <input id="username" name="username" type="text" placeholder="请输入用户名" data-validator="username" required>
                    </div>
                </div>
                <div class="pure-control-group">
                    <div class="text-input">
                        <label>密码</label>
                        <input id="password" name="password" type="password" placeholder="请输入密码" data-validator="password" required>
                    </div>
                </div>
                <!-- <div class="pure-control-group">
                    <div class="verify-img">
                        <div class="border-img">
                            <label>验证码</label>
                            <input type="text" id="imgCode" name="imgCode" placeholder="请输入验证码" required>
                        </div>
                        <img height="33" id="yzmimg" src="${weburl}/pcrimg.html" alt="验证码">
                    </div>
                </div> -->
                <div class="pure-control">
                    <button type="submit" class="pure-button">立即登录</button>
                    <!-- <a href="${weburl}/forgetpassword.html" class="forget">忘记密码？</a> -->
                </div>
            </fieldset>
        </form>
    </div>
</div>


<% include footer.html %>