<% include header.html %>

<div class="container">
    <div class="login-body">
        <div class="login-img">
            <a href="index">
                <img src="public/images/logo.jpg">
            </a>
        </div>
        <form class="pure-form login-form" id="signup-form">
            <fieldset>
                <a class="link" href="login">立即登录</a>
                <div class="title">注册</div>
                <div class="text-center" style="margin-bottom: 2em;">
                    <small>SIGN UP FREE</small>
                </div>
                <div class="pure-control-group">
                    <div class="text-input">
                        <label>用户名</label>
                        <input id="username" name="username" type="text" placeholder="请输入用户名" data-validator="username" required>
                    </div>
                </div>
                <div class="pure-control-group">
                    <div class="text-input">
                        <label>密码</label>
                        <input id="password" name="password" type="password" placeholder="请输入密码" data-validator="password" required>
                    </div>
                </div>
                <div class="pure-control-group">
                    <div class="text-input">
                        <label>确认密码</label>
                        <input id="repassword" name="repassword" type="password" placeholder="请输入确认密码" data-validator="password" required>
                    </div>
                </div>
                <!-- <div class="pure-control-group">
                    <div class="verify-img">
                        <div class="border-img">
                            <label>验证码</label>
                            <input type="text" id="imgCode" name="imgCode" placeholder="请输入验证码" required>
                        </div>
                        <img height="33" id="yzmimg" src="${weburl}/pcrimg.html" alt="验证码">
                    </div>
                </div>
                <div class="pure-control-group">
                    <div class="verify-tel">
                        <label>验证码</label>
                        <input type="text" id="code" name="code" placeholder="手机验证码" required>
                        <button type="button" id="code-btn" >获取短信验证码</button>
                    </div>
                </div> -->
                <div class="pure-control">
                    <button onclick="reg()" type="button" class="pure-button">免费注册</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script>
    function reg(){
       //通过serialize()方法进行序列化表单值，创建文本字符串。
       var data = $("form").serialize();
       //例如："username=张三&password=12345"
       $.ajax({
           url:'/reg',
           type:'POST',
           data:data,
           success:function(data,status){
                console.log(status)
               if(status == 'success'){
                   //location.href='register';
               }
           },
           error:function(res,err){
            console.log(err)
               //location.href='register';
           }
       });
    }
</script>

<script>
    seajs.use("signup")
</script>
<% include footer.html %>
