@import "libs/pure.css";
/** 颜色 */
/** 字体 */
/** 喜闻乐见 */
/** 网页变量 */
.white {
  color: white;
}
.red {
  color: #df3932;
}
.green {
  color: #1db586;
}
.blue {
  color: #6699cc;
}
.gray {
  color: #333333;
}
.orange {
  color: #f7660e;
}
.black {
  color: #0e0e0e;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.fluid {
  display: block;
}
.width {
  width: 1000px;
}
.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.page {
  padding: 1em;
}
.pure-button {
  background-color: #f7660e;
  color: white;
  border-radius: 2px;
}
.pure-button:hover {
  color: white;
}
.button-secondary {
  background-color: #f7660e;
}
.pure-table {
  width: 100%;
  color: #999999;
  border: none;
  font-size: 12px;
}
.pure-table > thead {
  color: #808080;
  background-color: #dddddd;
}
.pure-table > thead th {
  border-left-width: 0;
  text-align: center;
}
.pure-table > tbody tr {
  border-bottom: 1px solid #dddddd;
}
.pure-table > tbody tr:last-child {
  border-bottom-width: 0;
}
.pure-table > tbody tr td {
  border-left-width: 0;
  padding: 1em;
  text-align: center;
}
.pure-table > tbody tr td:first-child {
  /*  width: 8em; */
}
.pure-form input[type="text"],
.pure-form input[type="number"],
.pure-form input[type="tel"],
.pure-form input[type="email"],
.pure-form input[type="password"] {
  border: 1px solid #dddddd;
  border-radius: 0;
  box-shadow: none;
}
.pure-form select {
  width: 12em;
  padding: 0 .5em;
  border: 1px solid #dddddd;
  box-shadow: none;
  border-radius: 0;
}
.pure-form .static-text {
  display: inline-block;
  vertical-align: middle;
}
.pure-form .pure-control-group {
  margin-bottom: 2em;
}
.pure-form .pure-control-group img {
  cursor: pointer;
}
.pure-form .pure-control-group .icon-input {
  display: inline-block;
  border: 1px solid #dddddd;
  border-top-width: 2px;
  padding-left: 1em;
  border-radius: 5px;
}
.pure-form .pure-control-group .icon-input > input {
  border: none;
  width: 200px;
}
.pure-form .pure-control-group .text-input {
  border: 1px solid #dddddd;
  box-shadow: 0 1px 5px #dddddd;
  border-radius: 1px;
  height: 43px;
}
.pure-form .pure-control-group .text-input > label {
  width: 64px;
  display: block;
  background-color: #f7f7f7;
  border-right: 1px solid #dddddd;
  margin: 0;
  float: left;
  height: 41px;
  text-align: center;
  line-height: 41px;
}
.pure-form .pure-control-group .text-input > input {
  padding: 1em;
  height: 41px;
  border: none;
  width: 232px;
}
.pure-form .pure-control-group .verify-img .border-img {
  border: 1px solid #dddddd;
  box-shadow: 0 1px 5px #dddddd;
  border-radius: 1px;
  height: 43px;
  width: 200px;
  display: inline-block;
}
.pure-form .pure-control-group .verify-img .border-img > label {
  width: 64px;
  display: block;
  background-color: #f7f7f7;
  border-right: 1px solid #dddddd;
  margin: 0;
  float: left;
  height: 41px;
  text-align: center;
  line-height: 41px;
}
.pure-form .pure-control-group .verify-img .border-img > input {
  padding: 1em;
  height: 41px;
  border: none;
  width: 132px;
}
.pure-form .pure-control-group .verify-tel {
  border: 1px solid #dddddd;
  box-shadow: 0 1px 5px #dddddd;
  border-radius: 1px;
  height: 43px;
  background-color: #f7f7f7;
}
.pure-form .pure-control-group .verify-tel > label {
  width: 64px;
  display: block;
  background-color: #f7f7f7;
  border-right: 1px solid #dddddd;
  margin: 0;
  float: left;
  height: 41px;
  text-align: center;
  line-height: 41px;
}
.pure-form .pure-control-group .verify-tel > input {
  padding: 1em;
  height: 41px;
  border: none;
  width: 132px;
  float: left;
  border-right: 1px solid #dddddd;
}
.pure-form .pure-control-group .verify-tel > button {
  width: 96px;
  height: 41px;
  background: none;
  box-shadow: none;
  border: none;
  text-align: center;
  outline: none;
}
.pure-form .control-helps {
  margin: 0 0 0 11.3em;
}
.pure-form .pure-controls {
  margin-left: 8.3em;
  margin-top: 4em;
}
.pure-form .verify-img1 {
  display: inline-block;
  vertical-align: middle;
}
.pure-form .verify-img1 > .icon-input input {
  width: 80px;
}
.pure-form .verify-img1 > img {
  width: 6em;
  height: 2.3em;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.label {
  background-color: #f7660e;
  color: white;
  padding: .5em;
  margin-bottom: 1em;
}
.label.label-error {
  background-color: #ed8e8a;
  color: #df3932;
  border-color: #df3932;
}
.label.label-success {
  background-color: #54e4b7;
  color: #1db586;
  border-color: #1db586;
}
/** 进度条 */
.progress {
  min-height: 6px;
  border-radius: 0;
  position: relative;
  background-color: #dcdcdc;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px #908B8B;
}
.progress .bar {
  background-color: #6699cc;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5px;
}
.progress.inline {
  display: inline-block;
  vertical-align: middle;
}
/** 手风琴 */
.accordion {
  margin: 0;
  height: 655px;
  background-color: white;
}
.accordion > .title {
  cursor: pointer;
  color: #e69a6b;
  border-bottom: 1px solid #dddddd;
}
.accordion > .title label {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: -3px;
  margin-right: 1em;
}
.accordion > .title label.accordion1 {
  background-image: url(../images/myhome/accordion1.png);
}
.accordion > .title label.accordion2 {
  background-image: url(../images/myhome/accordion2.png);
}
.accordion > .title label.accordion3 {
  background-image: url(../images/myhome/accordion3.png);
}
.accordion > .title label.accordion4 {
  background-image: url(../images/myhome/accordion4.png);
}
.accordion > .title label.accordion5 {
  background-image: url(../images/myhome/accordion5.png);
}
.accordion > .title label.accordion6 {
  background-image: url(../images/myhome/accordion6.png);
}
.accordion > .title a {
  color: #e69a6b;
  padding: 1em .5em 1em 4em;
  display: block;
}
.accordion > .title:hover {
  background-color: #e69a6b;
  color: white;
}
.accordion > .title:hover label {
  background-position: 0 16px;
}
.accordion > .title:hover a {
  color: white;
}
.accordion > .title.active {
  background-color: #e69a6b;
  color: white;
}
.accordion > .title.active label {
  background-position: 0 16px;
}
.accordion > .title.active a {
  color: white;
}
.accordion > .content {
  display: none;
}
.accordion > .content .user-menus {
  list-style: none;
  margin: 0;
  padding: 0;
}
.accordion > .content .user-menus li {
  line-height: 1.5em;
}
.accordion > .content .user-menus li a {
  color: #6699cc;
  display: block;
  padding: .5em;
  font-size: 12px;
  border-bottom: 1px solid #dddddd;
  text-align: center;
}
.accordion > .content .user-menus li a.active {
  color: #e69a6b;
}
.accordion > .content .user-menus li a:hover {
  color: #e69a6b;
}
.accordion > .content a {
  color: white;
}
/** 标签 */
.tabs .tabsbar > a {
  padding: 1em 2.5em;
  display: inline-block;
  font-size: 16px;
  border-top: 2px solid transparent;
  color: #f7660e;
}
.tabs .tabsbar > a:hover {
  border-top: 5px solid #f7660e;
  background-color: white;
  color: #333333;
}
.tabs .tabsbar > a.active {
  border-top: 5px solid #f7660e;
  background-color: white;
  color: #333333;
}
.tabs .content {
  background-color: white;
  padding: 4em 2.5em;
}
.tabs .content .item {
  overflow: hidden;
}
/** 分页 */
.page.song {
  margin-bottom: 1em;
}
.page.song em {
  font-style: normal;
}
.page.song .pagingtt {
  /* border: 1px solid @el-border-color; */
}
.page.song .pagingtt .paging {
  background-color: #f5f5f5;
  padding: .2em .8em;
  border: 1px solid #dddddd;
}
.page.song .pagingtt .hover {
  background-color: white;
}
/* .pagination{
    padding-left: 0;
    margin-top: 3em;

    ul{
        padding: 0;
        margin: 0;
    }

    li{
        display: inline-block;
        margin-left: .3em;
        margin-right: .3em;

        a{
            padding: .1em .5em;
            border: 1px solid @el-border-color;
        }

        &.active a{
            background-color: @orange;
            color: @white;
            border: 1px solid @orange;
        }
    }
} */
/** 面包屑 */
.breadcrumbs {
  padding: .7em 0;
  font-size: 1.1em;
}
/** 面板 */
.panel {
  background-color: white;
  padding: .2em 1em;
}
.panel > .header {
  padding-top: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #dddddd;
}
.panel > .header > .title {
  margin-top: 0;
  margin-bottom: 0;
  color: #0e0e0e;
  font-size: 18px;
  font-weight: normal;
}
.panel > .header .more {
  float: right;
  margin-top: .2em;
  cursor: pointer;
  font-size: 14px;
  color: #999999;
}
.panel > .header .more .xia {
  display: inline-block;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.panel .panel-content {
  padding: .5em 1em;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 14px;
  font-family: "microsoft YaHei", Arial, sans-serif;
  color: #999999;
}
body {
  background-color: #f4f4f4;
  font-size: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
a {
  color: #999999;
  -webkit-transition: color .1s;
          transition: color .1s;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #666666;
}
img {
  vertical-align: middle;
}
.widescreen {
  position: absolute;
  left: 50%;
  margin-left: -960px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.topbar {
  padding: .5em;
}
.topbar .topbar-r {
  text-align: right;
}
.topbar-navi {
  background-color: white;
  padding: 1em 0;
}
.topbar-navi .top-navi {
  font-size: 16px;
  margin-top: 9px;
}
.topbar-navi .top-navi > a {
  padding: .3em 1.2em;
  display: inline-block;
  color: #666666;
  border-radius: 5px;
}
.topbar-navi .top-navi > a.active {
  background-color: #f7660e;
  color: white;
}
.suspend {
  position: fixed;
  right: 0;
  top: 30%;
  z-index: 9999;
}
.suspend > .call {
  width: 70px;
  height: 80px;
  background: url(../images/index/call.png);
  background-color: #cccccc;
  cursor: pointer;
  color: white;
  text-align: center;
  padding-top: 52px;
  position: relative;
}
.suspend > .call .call-hover {
  position: absolute;
  background-color: #84abe6;
  width: 165px;
  height: 80px;
  right: 70px;
  top: 0;
  text-align: left;
  padding: 1.3em;
  display: none;
}
.suspend > .call .call-hover > strong {
  font-size: 18px;
  font-weight: normal;
  line-height: 2em;
}
.suspend > .call:hover {
  background-color: #84abe6;
}
.suspend > .back-top {
  width: 70px;
  height: 80px;
  background: url(../images/index/arrow.png);
  background-color: #cccccc;
  cursor: pointer;
  color: white;
  text-align: center;
  padding-top: 44px;
}
.suspend > .back-top:hover {
  background-color: #84abe6;
}
.mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 999;
  display: none;
}
.slider {
  position: relative;
  width: 100%;
  height: 488px;
}
.slider .slide {
  width: 100%;
  height: 488px;
  position: absolute;
  margin: 0;
  padding: 0;
  display: block;
  z-index: 1;
}
.slider .container {
  position: relative;
  height: 100%;
}
.slider .controller {
  position: absolute;
  text-align: center;
  margin: 0;
  bottom: 1.5em;
  left: 50%;
  padding-left: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}
.slider .controller > li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: white;
  -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
  cursor: pointer;
  margin-left: .8em;
  background-color: rgba(255, 255, 255, 0.6);
  -pie-background-color: rgba(255, 255, 255, 0.6);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#bfffffff', EndColorStr='#bfffffff');
}
.slider .controller > li.active {
  background-color: #ffffff;
}
.slider .banner-board {
  background-color: white;
  padding: 1em 2em;
  position: absolute;
  top: 6em;
  right: 2em;
  z-index: 3;
}
.slider .banner-board > h2 {
  color: #333333;
  font-weight: normal;
}
.slider .banner-board .denglu {
  font-size: 22px;
  width: 165px;
  height: 39px;
  line-height: 38px;
  padding: 0;
  border-top: 2px solid #f8b287;
  border-radius: 5px;
  margin-left: 2em;
}
.index-tab3 {
  background-color: white;
  padding: 1.5em 0;
}
.index-tab3 > .container {
  padding: 0 4em;
}
.index-tab3 > .container .pure-u-1-3 {
  padding: 0 2em;
}
.index-tab3 > .container .pure-u-1-3 .tab3 > a {
  text-align: center;
  background-color: #f6eee9;
  color: #fe9b0d;
  padding: 1em 0;
  font-size: 16px;
  border-radius: 10px;
  display: block;
}
.index-tab3 > .container .pure-u-1-3 .tab3 > a img {
  margin-bottom: .8em;
}
.index-tab3 > .container .pure-u-1-3 .tab3 > a:hover {
  color: white;
  background-color: #fe9b0d;
}
.index-biao > .pure-g .pure-u-3-4 {
  padding-right: 1em;
}
.index-biao > .pure-g .pure-u-1-4 .side-data {
  background-color: white;
  margin-top: 1.5em;
  padding: 1em;
  height: 338px;
}
.index-biao > .pure-g .pure-u-1-4 .side-data h2 {
  font-weight: normal;
  color: #f7660e;
  margin-top: 0;
  font-size: 18px;
}
.index-biao > .pure-g .pure-u-1-4 .side-data .kuang {
  border: 1px solid #dddddd;
  width: 100%;
  margin-bottom: .8em;
  padding: .8em 1em;
}
.index-biao > .pure-g .pure-u-1-4 .side-data .kuang .text {
  display: inline-block;
  text-align: right;
  vertical-align: -18px;
  width: 135px;
}
.index-biao > .pure-g .pure-u-1-4 .side-data .kuang .text > strong {
  font-size: 26px;
  font-weight: normal;
}
.index-biao > .pure-g .pure-u-1-4 .side-data .kuang .text > strong.orange {
  color: #f78f58;
}
.index-biao > .pure-g .pure-u-1-4 .side-data .kuang .text > strong.green {
  color: #afc785;
}
.index-biao > .pure-g .pure-u-1-4 .side-data .kuang .text > strong.yellow {
  color: #ffc101;
}
.index-biao > .pure-g .pure-u-1-4 .gonggao {
  background-color: white;
  margin-top: 1em;
  padding: 1em 1.5em;
  padding-bottom: 1.5em;
  height: 205px;
}
.index-biao > .pure-g .pure-u-1-4 .gonggao > header span {
  font-size: 16px;
  color: #f7660e;
}
.index-biao > .pure-g .pure-u-1-4 .gonggao > header .more {
  float: right;
  font-size: 12px;
  margin-top: 5px;
}
.index-biao > .pure-g .pure-u-1-4 .gonggao > ul {
  margin-top: 1em;
}
.index-biao > .pure-g .pure-u-1-4 .gonggao > ul li {
  padding: .5em 0;
  border-bottom: 1px dashed #dddddd;
}
.index-biao > .pure-g .pure-u-1-4 .gonggao > ul li:last-child {
  border: none;
}
.index-biao > .pure-g .pure-u-1-4 .kehu {
  background-color: white;
  margin-top: 1em;
  padding: 1em 1.5em;
  padding-bottom: 1.4em;
  height: 204px;
}
.index-biao > .pure-g .pure-u-1-4 .kehu > header {
  font-size: 16px;
  color: #f7660e;
  padding-bottom: .5em;
  border-bottom: 1px solid #dddddd;
}
.index-biao > .pure-g .pure-u-1-4 .kehu > ul {
  margin-top: .5em;
}
.index-biao > .pure-g .pure-u-1-4 .kehu > ul li {
  padding: .5em 0;
}
.index-biao > .pure-g .pure-u-1-4 .side-youshi {
  background-color: white;
  margin-top: 1.5em;
  padding: 1.5em;
  height: 280px;
}
.index-biao > .pure-g .pure-u-1-4 .side-youshi h2 {
  font-weight: normal;
  margin-top: 0;
  font-size: 18px;
}
.index-biao > .pure-g .pure-u-1-4 .side-youshi .kuang {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #dddddd;
}
.index-biao > .pure-g .pure-u-1-4 .side-youshi .kuang:last-child {
  border: none;
}
.index-biao > .pure-g .pure-u-1-4 .side-youshi .kuang .text {
  display: inline-block;
  vertical-align: -10px;
  padding-left: 1em;
}
.index-biao > .pure-g .pure-u-1-4 .liebiao {
  background-color: white;
  margin-top: 1em;
  padding: 1em 1.5em;
  padding-bottom: 1.4em;
}
.index-biao > .pure-g .pure-u-1-4 .liebiao > header {
  font-size: 16px;
  padding-bottom: .5em;
}
.index-biao > .pure-g .pure-u-1-4 .liebiao > table {
  width: 100%;
}
.index-biao > .pure-g .pure-u-1-4 .liebiao > table thead {
  color: #333333;
}
.index-biao > .pure-g .pure-u-1-4 .liebiao > table thead tr th {
  font-weight: normal;
  padding: .5em;
}
.index-biao > .pure-g .pure-u-1-4 .liebiao > table tbody tr {
  border-top: 1px dashed #dddddd;
}
.index-biao > .pure-g .pure-u-1-4 .liebiao > table tbody tr td {
  text-align: center;
  padding: .5em;
}
.biao-list {
  background-color: white;
  padding: 0 1em;
  margin-top: 1.5em;
}
.biao-list > header {
  padding-bottom: 1.5em;
}
.biao-list > header .title {
  display: inline-block;
  padding: .5em 1em;
  color: white;
  background-color: #f7660e;
  margin-top: -6px;
  font-size: 16px;
  position: relative;
}
.biao-list > header .title:after {
  content: "";
  position: absolute;
  border: 3px solid transparent;
  border-left-width: 2px;
  border-left-color: #d55b11;
  border-bottom-color: #d55b11;
  right: -5px;
  top: 0;
}
.biao-list > header .more {
  float: right;
  margin-top: 15px;
}
.biao-list .biaobiao .pure-u-1-3 {
  padding: 0 .5em;
  position: relative;
  padding-bottom: 1.5em;
}
.biao-list .biaobiao .icon {
  position: absolute;
  z-index: 999;
  right: 1.5em;
  top: 2em;
}
.biao-list .biaobiao .biao {
  border: 1px solid #dddddd;
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: 5px;
}
.biao-list .biaobiao .biao .pure-button {
  font-size: 18px;
  width: 100%;
  background-color: #df3932;
  margin-top: .5em;
}
.biao-list .biaobiao .biao .small {
  font-size: 10px;
}
.biao-list .biaobiao .biao > h2 {
  font-size: 36px;
  font-weight: normal;
  color: #df3932;
  margin: 0;
}
.biao-list .biaobiao .biao > h2 > strong {
  font-size: 48px;
  font-weight: normal;
}
.biao-list .biaobiao .biao > h2 > small {
  font-size: 18px;
}
.biao-list .biaobiao .biao .jindu {
  padding: 1em 3em;
}
.biao-list .biaobiao .biao > p {
  margin-top: 2em;
  color: #333333;
}
.biao-list .biaobiao .biao > p em {
  font-style: normal;
  font-size: 12px;
  background-color: #f7660e;
  color: white;
  border-radius: 5px;
  width: 18px;
  height: 18px;
  display: inline-block;
  text-align: center;
  line-height: 18px;
}
.biao-list .biaobiao .biao > p em.lv {
  background-color: #56cf5c;
}
.biao-list .biaobiao .biao > p em.lan {
  background-color: #549ae2;
}
.biao-list .biaobiao .biao > p em.zi {
  background-color: #c66abc;
}
.biao-list .biaobiao .biao .ren {
  padding: 0 2em .5em;
  font-size: 12px;
  text-align: left;
}
.biao-list .biaobiao .biao .ren > div {
  display: inline-block;
}
.biao-list .biaobiao .biao .ren > div strong {
  font-weight: normal;
  color: #df3932;
  font-size: 16px;
}
.biao-list .biaobiao .biao .neirong {
  border-top: 1px dashed #dddddd;
  margin: .5em .5em 0;
  padding: .5em .5em 0;
}
.biao-list .biaobiao .biao .neirong > table {
  text-align: right;
  font-size: 12px;
}
.biao-list .biaobiao .biao .neirong > table tr {
  line-height: 20px;
}
.biao-list .biaobiao .biao .robin {
  font-size: 12px;
  color: white;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 99;
}
.biao-list .biaobiao .biao .bg {
  background-color: #1db586;
  width: 60px;
  height: 30px;
  position: absolute;
  -webkit-transform: rotate(36deg);
      -ms-transform: rotate(36deg);
          transform: rotate(36deg);
  z-index: 1;
  right: -18px;
  top: -11px;
}
.biao-list .biaobiao .biao .xiao {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 10px;
  text-align: left;
}
.youshi {
  margin-top: 1.5em;
  background-color: white;
  padding: 2em 0;
}
.youshi > .container > header {
  font-size: 18px;
  color: #f7660e;
}
.youshi > .container .youshi-img {
  overflow: hidden;
  margin-top: 3em;
  margin-bottom: 2em;
}
.youshi > .container .youshi-img li {
  float: left;
  text-align: center;
  width: 142px;
}
.youshi > .container .youshi-img li strong {
  font-size: 16px;
  color: #333333;
  line-height: 2.5em;
}
.xinwen {
  margin: 3em 0;
}
.xinwen .xinwen-l > header {
  padding-bottom: 1em;
  font-size: 18px;
  color: #f7660e;
}
.xinwen .xinwen-l > .pure-g .pure-u-1-3 {
  padding-left: 1.5em;
}
.xinwen .xinwen-l > .pure-g .pure-u-2-3 {
  padding-right: 5em;
}
.xinwen .xinwen-l > .pure-g .pure-u-2-3 > h2 {
  font-size: 16px;
  color: #333333;
}
.xinwen .xinwen-r > header {
  padding-bottom: 1em;
}
.xinwen .xinwen-r > header span {
  font-size: 18px;
  color: #f7660e;
}
.xinwen .xinwen-r > header .more {
  float: right;
}
.xinwen .xinwen-r > ul li {
  padding: .7em 0;
}
.xinwen .xinwen-r > ul li a {
  color: #333333;
}
.friend {
  background-color: white;
  padding: 2em 0;
  margin-top: 1em;
}
.friend > .container {
  padding: 0 1em;
}
.friend > .container > header span {
  font-size: 18px;
  color: #f7660e;
}
.friend > .container > header .more {
  float: right;
}
.friend > .container .friend-img {
  margin-top: 1em;
}
.friend > .container .friend-img > img {
  margin-left: 1em;
}
.footers {
  text-align: center;
  padding: 2em 0;
}
.footers .foot-s .pure-u-1-5 {
  line-height: 2em;
}
.footers .foot-s .pure-u-1-5 strong {
  font-size: 16px;
  font-weight: normal;
  color: #333333;
}
.footers .foot-s .pure-u-1-5 strong a {
  color: #333333;
}
.footers .foot-s .pure-u-2-5 {
  padding-top: .5em;
}
.footers .foot-s .pure-u-2-5 > span {
  font-size: 16px;
  color: #333333;
}
.footers .foot-s .pure-u-2-5 .dianhua {
  margin-top: 1em;
  font-size: 22px;
  border: 1px solid #f7660e;
  color: #f7660e;
  border-radius: 50px;
  padding: .2em 1em;
  display: inline-block;
}
.footers .foot-b {
  padding-top: 2em;
}
.footers .foot-b .foot-img {
  margin-top: 2em;
}
.login-img {
  padding: 100px 0 50px;
  text-align: center;
}
.login-form {
  width: 350px;
  margin: 0 auto;
  background-color: white;
  padding: 26px;
  font-size: 12px;
  margin-bottom: 125px;
  position: relative;
  padding-bottom: 3em;
}
.login-form fieldset > .title {
  text-align: center;
  font-size: 18px;
  position: relative;
  color: #333333;
}
.login-form fieldset > .title:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #dddddd;
  height: 14px;
  width: 50px;
  left: 64px;
}
.login-form fieldset > .title:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #dddddd;
  height: 14px;
  width: 50px;
  right: 64px;
}
.login-form fieldset .xlabel {
  color: red;
  padding-top: .5em;
}
.login-form fieldset .pure-control {
  padding-top: 1em;
}
.login-form fieldset .pure-control .pure-button {
  width: 100%;
  height: 45px;
  font-size: 16px;
}
.login-form fieldset .pure-control .forget {
  font-size: 14px;
  display: block;
  margin-top: 1.5em;
  float: right;
}
.login-form fieldset > .link {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  background-color: #4ac51f;
  display: block;
  color: white;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  bottom: -30px;
  right: 30px;
}
.borrow-tab {
  background-color: white;
  height: 184px;
  padding: 30px 0;
  overflow: hidden;
}
.borrow-tab .toubiao-tab3 li {
  float: left;
}
.borrow-tab .toubiao-tab3 li > a {
  display: block;
  width: 160px;
  height: 120px;
  text-align: center;
  background-color: #f6eee9;
  margin-right: .8em;
  font-size: 16px;
  border-radius: 10px;
  color: #fe9b0d;
}
.borrow-tab .toubiao-tab3 li > a:hover {
  color: white;
  background-color: #fe9b0d;
}
.borrow-tab .toubiao-tab3 li > a > img {
  padding: .6em 0;
}
.borrow-tab .borrow-tab3 li {
  float: left;
}
.borrow-tab .borrow-tab3 li > a {
  display: block;
  width: 220px;
  height: 120px;
  text-align: center;
  background-color: #f6eee9;
  margin-right: .8em;
  font-size: 16px;
  border-radius: 10px;
  color: #fe9b0d;
}
.borrow-tab .borrow-tab3 li > a:hover {
  color: white;
  background-color: #fe9b0d;
}
.borrow-tab .borrow-tab3 li > a > img {
  padding: .6em 0;
}
.borrow-tab .borrow-tab-r {
  float: left;
  padding-left: 2em;
  width: 285px;
}
.borrow-tab .borrow-tab-r li {
  line-height: 3em;
}
.borrow-tab .borrow-tab-r li span {
  float: right;
  text-align: right;
  color: #f7660e;
}
.titleTop {
  font-size: 16px;
  padding: 1em;
}
.titleTop .toggle {
  float: right;
}
.titleTop .toggle > img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.borrow-filter-panel {
  background-color: white;
  padding: 2em;
}
.borrow-filter-panel .borrow-filter {
  margin-bottom: 5px;
}
.borrow-filter-panel .borrow-filter > label {
  width: 5em;
  display: inline-block;
}
.borrow-filter-panel .borrow-filter > a {
  padding: .3em 1em;
  display: inline-block;
  border-radius: 5px;
}
.borrow-filter-panel .borrow-filter > a.active {
  background-color: #6699cc;
  color: white;
}
.borrow-filter-panel .borrow-filter > a:hover {
  background-color: #6699cc;
  color: white;
}
.biao-box {
  margin-top: 1.5em;
}
.biao-box > header {
  overflow: hidden;
  margin-bottom: .6em;
}
.biao-box > header > a {
  display: block;
  float: left;
  padding: .5em 1em;
  background-color: white;
}
.biao-box > header > a.active {
  color: white;
  background-color: #f7660e;
}
.biao-box .biao-content {
  padding: 2em 0;
  background-color: white;
}
.biao-box .biao-content .biao-list .biaobiao .pure-u-1-4 {
  padding: 0 .5em;
  position: relative;
}
.borrow-apply-fixed {
  position: fixed;
  left: 50%;
  margin-left: 520px;
  top: 40%;
}
.detail-box .detail-top {
  background-color: white;
  padding: 2em;
}
.detail-box .detail-top > header {
  padding-bottom: 2em;
}
.detail-box .detail-top > header > em {
  width: 25px;
  height: 25px;
  background-color: #f7660e;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  font-style: normal;
}
.detail-box .detail-top > header > em.green {
  background-color: #1db586;
}
.detail-box .detail-top > header > strong {
  font-size: 22px;
  font-weight: normal;
  color: #333333;
  margin-left: .1em;
  margin-right: 2em;
}
.detail-box .detail-top > header .progress {
  width: 160px;
  height: 15px;
  display: inline-block;
  background-color: #cccccc;
  box-shadow: none;
}
.detail-box .detail-top > header .progress .bar {
  background-color: #12adff;
}
.detail-box .detail-top > ul {
  height: 106px;
  position: relative;
}
.detail-box .detail-top > ul li {
  float: left;
  border-left: 1px dashed #dddddd;
  width: 190px;
  padding-left: 2em;
  font-size: 16px;
}
.detail-box .detail-top > ul li:first-child {
  border: none;
  padding: 0;
}
.detail-box .detail-top > ul li > p {
  font-size: 18px;
  color: #df3932;
  margin-bottom: 0;
}
.detail-box .detail-top > ul li > p strong {
  font-size: 30px;
  font-weight: normal;
}
.detail-box .detail-top > ul .icon {
  position: absolute;
  width: 141px;
  padding: 0;
  border: none;
  right: 2em;
  top: 0;
}
.detail-box .detail-top .data-3 > span {
  display: inline-block;
  margin-right: 5em;
}
.detail-box .detail-top .data-3 > span strong {
  font-weight: normal;
  color: #333333;
}
.detail-box .tou-form {
  margin-bottom: 3em;
}
.detail-box .tou-form .tou-input {
  background-color: #fe9b0d;
  padding: 2em;
}
.detail-box .tou-form .tou-input span {
  color: white;
}
.detail-box .tou-form .tou-input > input {
  width: 280px;
  height: 30px;
  padding: 0 1em;
  border-radius: 5px;
  border: none;
}
.detail-box .tou-form .mi-input {
  padding: 3em 2em;
  border: 1px solid #fe9b0d;
}
.detail-box .tou-form .mi-input > input {
  width: 280px;
  height: 30px;
  padding: 0 1em;
  border-radius: 5px;
  border: none;
}
.detail-box .tou-form .mi-input .pure-button {
  font-size: 16px;
  padding: .5em 3em;
}
.detail-box .detail-table {
  width: 100%;
  border: 1px solid #eeeeee;
  color: #333333;
  font-size: 16px;
}
.detail-box .detail-table thead {
  background-color: #fafafa;
}
.detail-box .detail-table thead tr th {
  border-right: 1px solid #ccc;
  padding: .5em 0;
  font-weight: normal;
}
.detail-box .detail-table thead tr th:last-child {
  border: none;
}
.detail-box .detail-table tbody tr {
  border-top: 1px solid #eeeeee;
}
.detail-box .detail-table tbody tr td {
  text-align: center;
  padding: .5em 0;
  border-right: 1px solid #ccc;
}
.detail-box .detail-table tbody tr td:last-child {
  border: none;
}
.borrow-apply {
  margin-bottom: 5em;
}
.borrow-apply > nav {
  font-size: 16px;
}
.borrow-apply > nav a {
  padding: .5em 2em;
  display: inline-block;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
}
.borrow-apply > nav a.active {
  background-color: white;
  border-bottom: none;
}
.borrow-apply .apply-content {
  margin-top: -2px;
  padding: 2em;
  border: 1px solid #dddddd;
  background-color: white;
}
.borrow-apply .apply-content > header {
  text-align: center;
  color: #f7660e;
  padding: 2em 0;
}
.borrow-apply .apply-content > header .heng {
  border-bottom: 3px solid #dddddd;
  display: inline-block;
  width: 25px;
  margin: 2px 5px;
}
.borrow-apply .apply-content > header > span {
  opacity: 0.5;
}
.borrow-apply .apply-content > header > span em {
  font-style: normal;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  background-color: #f7660e;
  color: white;
  text-align: center;
  display: inline-block;
  margin-right: .5em;
  font-size: 14px;
}
.borrow-apply .apply-content > header > span.active {
  font-size: 16px;
  opacity: 1;
}
.borrow-apply .apply-content .apply-form {
  color: #333333;
  font-size: 16px;
  padding: 0 5em 3em;
}
.borrow-apply .apply-content .apply-form > .title {
  font-weight: normal;
  font-size: 18px;
}
.borrow-apply .apply-content .apply-form > fieldset .pure-control-group > input[type=text] {
  width: 390px;
  height: 50px;
  border-radius: 3px;
  border: 1px solid #999999;
  margin-right: .5em;
}
.borrow-apply .apply-content .apply-form > fieldset .pure-control-group > input[type=text]:focus {
  border: 2px solid #f7660e;
  border-radius: 1px;
}
.borrow-apply .apply-content .apply-form > fieldset .pure-control-group .xing {
  color: #f7660e;
}
.borrow-apply .apply-content .apply-form > fieldset .pure-control-group .select-box {
  width: 390px;
  height: 50px;
  border-radius: 3px;
  border: 1px solid #999999;
  margin-right: .5em;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  background: url(../images/borrow/select.png) no-repeat center right;
}
.borrow-apply .apply-content .apply-form > fieldset .pure-control-group .select-box > select {
  width: 430px;
  height: 50px;
  border: none;
  background: none;
}
.borrow-apply .apply-content .apply-form > fieldset .pure-controls {
  margin-left: 183px;
}
.borrow-apply .apply-content .apply-form > fieldset .pure-controls .pure-button {
  font-size: 18px;
  padding: .8em 4em;
  background-color: #df3932;
  border-radius: 5px;
}
.borrow-apply .apply-content .agreement {
  width: 626px;
  margin: 2em auto;
  border: 2px solid #dddddd;
  padding: 2em 0;
}
.borrow-apply .apply-content .agreement .xieyi {
  width: 312px;
  margin: 0 auto;
  padding: 1em;
  height: 144px;
}
.borrow-apply .apply-content .agreement .xieyi > span {
  line-height: 3em;
  display: inline-block;
  padding-left: 3em;
}
.borrow-apply .apply-content .agreement .dingjin {
  float: left;
  font-size: 16px;
  border-right: 1px solid #ccc;
  padding: 1em 3em;
}
.borrow-apply .apply-content .agreement .dingjin > p {
  line-height: 2em;
}
.borrow-apply .apply-content .tijiao {
  text-align: center;
  padding: 3em 0;
}
.borrow-apply .apply-content .tijiao .pure-button {
  font-size: 18px;
  padding: .8em 4em;
  background-color: #df3932;
  border-radius: 5px;
}
.borrow-apply .apply-content .diaocha {
  width: 700px;
  margin: 2em auto;
  border: 2px solid #dddddd;
  padding: 3em 6em;
  font-size: 16px;
}
.borrow-apply .apply-content .diaocha > p {
  line-height: 2em;
}
.user-banner {
  width: 1000px;
  height: 240px;
  background: url(../images/myhome/banner.jpg);
  overflow: hidden;
  padding: 5.5em 4em 0;
  margin-top: 2em;
  margin-bottom: 1em;
}
.user-banner .banner-img {
  float: left;
  margin-right: 2em;
}
.user-banner .banner-img > img {
  border-radius: 50%;
  border: 5px solid white;
  width: 132px;
  height: 132px;
}
.user-banner .banner-txt {
  float: left;
  font-size: 18px;
  padding-top: 2em;
  color: white;
}
.user-page {
  background-color: white;
  padding: 2em;
  padding-bottom: 5em;
  border: 1px solid #dddddd;
  margin-bottom: 1.5em;
}
.user-page > header {
  font-size: 16px;
  padding-bottom: 1em;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 2em;
}
.user-page > header .left_icon {
  width: 25px;
  height: 25px;
  background: url(../images/myhome/accordion3.png);
  margin-right: 2em;
  display: inline-block;
  vertical-align: -6px;
}
.user-page > header .left_icon.little {
  width: 16px;
  height: 16px;
  vertical-align: -3px;
}
.user-page .user-tabbox {
  padding-bottom: 1em;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 2em;
}
.user-page .user-tabbox .user-tab {
  background-color: #dddddd;
}
.user-page .user-tabbox .user-tab > a {
  display: inline-block;
  padding: .5em 1em;
}
.user-page .user-tabbox .user-tab > a.active {
  background-color: #e69a6b;
  color: white;
}
.center-box {
  color: white;
}
.center-box .zong {
  background-color: #e69a6b;
  padding: 2em;
  padding-bottom: 1em;
}
.center-box .zong > h2 {
  font-size: 16px;
  font-weight: normal;
}
.center-box .zong > p span strong {
  font-size: 28px;
}
.center-box .zong > ul {
  margin-top: 2em;
}
.center-box .zong > ul li {
  display: inline-block;
  border-left: 2px solid white;
  width: 160px;
  padding: .5em 0;
  padding-left: 1em;
}
.center-box .zong > ul li:first-child {
  border: none;
  padding: 0;
}
.center-box .keyong {
  background-color: #d6946b;
  padding: 1em 2em;
}
.center-box .anniu {
  padding: 2em 0;
  text-align: center;
  border: 2px solid #e69a6b;
  border-top: none;
}
.center-box .anniu .pure-button {
  width: 120px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  padding: 0;
  border-radius: 5px;
  margin-right: 1em;
}
.center-box .anniu .pure-button.green {
  background-color: #5ac64f;
}
.user-aqzx {
  padding: 0 1em;
}
.user-aqzx > ul li {
  padding: 1em .5em;
  font-size: 16px;
  border-bottom: 1px solid #dddddd;
}
.user-aqzx > ul li > img {
  margin-right: 2em;
}
.user-aqzx > ul li > label {
  color: #333333;
  width: 105px;
  display: inline-block;
}
.user-aqzx > ul li > a {
  color: #f7660e;
}
.user-form {
  padding-left: 3em;
}
.user-form > fieldset .pure-control-group {
  margin-bottom: 1em;
}
.user-form > fieldset .pure-control-group input {
  width: 280px;
}
.user-form > fieldset .pure-control-group input[type=radio] {
  width: auto;
}
.user-form > fieldset .pure-control-group small {
  margin-left: 160px;
}
.user-form > fieldset .pure-controls .pure-button {
  background-color: #5ac64f;
  padding: .5em 2.5em;
  margin-right: 1em;
}
.avatar-form {
  text-align: center;
}
.avatar-form .avatar-img > img {
  border: 7px solid #fe9b0d;
  border-radius: 50%;
}
.avatar-form .pure-button {
  background-color: #fe9b0d;
}
.buzhou {
  text-align: center;
  color: #f7660e;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 1em;
}
.buzhou .heng {
  border-bottom: 3px solid #dddddd;
  display: inline-block;
  width: 25px;
  margin: 2px 5px;
}
.buzhou > span {
  opacity: 0.8;
}
.buzhou > span em {
  font-style: normal;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  background-color: #f7660e;
  color: white;
  text-align: center;
  display: inline-block;
  margin-right: .5em;
  font-size: 14px;
}
.buzhou > span.active {
  font-size: 16px;
  opacity: 1;
}
.payment_bank {
  margin-top: 4em;
}
.payment_bank li {
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 1em;
}
.helps {
  margin-top: 1.5em;
}
.helps .helps-sidebar {
  background-color: white;
}
.helps .helps-sidebar > .title {
  border-bottom: 1px solid #dddddd;
}
.helps .helps-sidebar > .title:last-child {
  border: none;
}
.helps .helps-sidebar > .title a {
  font-size: 18px;
  display: block;
  text-align: center;
  padding: .8em 0;
  color: #333333;
}
.helps .helps-sidebar > .title a.active {
  color: white;
  background-color: #e69a6b;
}
.helps .helps-sidebar > .title a:hover {
  color: white;
  background-color: #e69a6b;
}
.helps .helps-content {
  background-color: white;
  padding: 2em 2em 5em;
  min-height: 600px;
}
.helps .helps-content > ul li {
  border-bottom: 1px dashed #dddddd;
  padding: .5em;
}
.bank-card {
  background: url(../images/card.jpg);
  width: 275px;
  height: 125px;
  display: inline-block;
  margin-right: 2em;
  text-align: center;
  color: white;
  padding-top: 2em;
}
.pagination {
  margin-top: 5em;
}
.pagination > ul li {
  display: inline-block;
  border: 1px solid #bdbdbd;
}
.pagination > ul li > a {
  padding: .2em .8em;
  display: block;
}
.pagination > ul li.active {
  border: none;
}
.apply-tan {
  padding: 8em 10em;
  position: fixed;
  left: 50%;
  margin-left: -307px;
  top: 15%;
  background-color: #f3f3f3;
  display: none;
  z-index: 9999;
}
.apply-tan > .close {
  position: absolute;
  right: 2em;
  top: 1.5em;
  cursor: pointer;
}
.apply-tan > h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 2em 0;
}
.apply-tan .apply-form .pure-control-group input {
  width: 335px;
  height: 56px;
  font-size: 18px;
  padding: 1em;
  border-radius: 5px;
}
.apply-tan .apply-form .pure-control-group .pure-button {
  font-size: 20px;
  width: 100%;
}
