//mean
@charset: "utf-8";
@import (css) "libs/pure.css";
@import "libs/config.less";
@import "libs/helper.less";
@import "libs/function.less";
@import "libs/button.less";
@import "libs/table.less";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    border: 0;
    font-style: normal;
}
body {
    font-family: @font-family;
    width: 100%;
    color: @font-color;
    font-size: @font-size;
    background: #0d2b40;
}
a {
    text-decoration: none;
    color: @font-color;
}
img {
    vertical-align: middle;
}
